.flex{
    display: flex;
}

.fw{
    font-weight: 500;
    color: #44475b;
}

.margin_bottom{
    margin-bottom: 50px;
}

.mb{
    margin-bottom: 13px;
    color: #44475b;
}

.mb1{
    margin-bottom: 50px;
    color: #44475b;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gr{
    color:#00d09c;
}

.wid{
    width: 40px;
}
