
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300&family=Red+Hat+Display:wght@300&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 15px auto;
    align-items: center;
    height: 20%;
    font-size: 20px;
}

.logo_groww{
    margin-left: 30% ;
    width: 67%;
    height: 100%;
}
.top-right{
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}
.login{
    background-color: #00d09c;
    color:white;
    padding: 15px;
    border-style: none;
    border-radius: 8px;
    width: 175px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}
.login:hover{
    opacity: 0.7;
}
.search button{
    background-color: white;
    border-style: none;
    color: grey;
    font-size: 20px;
}

.fa-search{
    font-size: 25px;
}

.search input{
        /* background-color: white; */
        width: inherit;
        padding: 5px;
        border-style: none;
        border-color: white;
        outline: none;
        caret-color: #00d09c;
        font-size: 23px;
}
.search{
    margin-top:10px;
    box-shadow: 0 0 2.5px 2.5px rgb(233, 225, 225);
    padding: 10px;
    border-radius: 8px;
    width: 60%;
}

.middle{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    margin-left: 5%;
}

.middle-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    padding-left: 210px;
    padding-top: 180px;
    margin-right: 50px;
}

.middle-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 250px;
    padding-top: 50px;
    height: 600px;
}

.row-1{
    display: flex;
    justify-content: space-between;
    width: 65vh;
    
}

.row-2{
    display: flex;
    justify-content: space-between;
    width: 65vh;
}

.row-3{
    display: flex;
    justify-content: space-between;
    width: 65vh;
}

.sub-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    width: 45%;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.nameoficon{
    margin-left: 20px;
    font-weight: 500;
    font-size: 23px;
}
.box-shadow{
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.6);
    -moz-box-shadow: 0 0 10px rgba(160, 160, 160, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(160, 160, 160, 0.6);
    -o-box-shadow: 0 0 10px rgba(160, 160, 160, 0.6);
}
.icon{
    margin-left: 20px;
}

.mid-l-1 p{
    font-size: 45px;
    font-weight: 500;
}

.mid-l-2{
    color: grey;
}

#million{
    font-weight: 680;
}

.invest{
   font-size: 40px;
   font-weight: bolder;
}

.middle2{
    padding: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 975px;
    margin-left:50px;
}

#choice{
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid var(--border);
    font-size: 12px;
    width: fit-content;
    min-width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ECEDEF;
    color: black;
    opacity: 0.5;
    font-weight: 500;

}

.two{
    font-weight: 500;
    font-size: 40px;
    color: #44475B;
}

.three{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.row-item-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #44475B;
    font-size: 25px;
    font-weight: 450;
}
.row-item-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #44475B;
    font-size: 25px;
    font-weight: 450;
}
.row-item-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #44475B;
    font-size: 25px;
    font-weight: 450;
}
.row-item-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #44475B;
    font-size: 25px;
    font-weight: 450;
}

.row-item-1:hover{
    border-style: none;
    border-bottom-style: solid;
    border-color: #00d09c;
    border-bottom-width: 4px;
}
.row-item-2:hover{
    border-style: none;
    border-bottom-style: solid;
    border-color: #00d09c;
    border-bottom-width: 4px;
}
.row-item-3:hover{
    border-style: none;
    border-bottom-style: solid;
    border-color: #00d09c;
    border-bottom-width: 4px;
}
.row-item-4:hover{
    border-style: none;
    border-bottom-style: solid;
    border-color: #00d09c;
    border-bottom-width: 4px;
}

.four{
    display: flex;
}

.four-left img{
    width: 562px;
    height: 355px;
    padding-top: 25px;
}

#zero{
    font-size: 80px;
    font-weight: 500;
}

.four-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 100px;
    height: 280px;
}
.four-r-1{
    color: #44475B;
    font-size: 28px;
    font-weight: 450;
}

.four-r-2{
    color: #44475B;
    font-size: 16px;
    font-weight: 400;
}

.getstarted{
    background-color: #00d09c;
    color:white;
    padding: 15px;
    border-style: none;
    border-radius: 8px;
    width: 200px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}

.link{
    margin-left: 500px;
}

.link a{
    color: #00d09c;
}

.middle3{
    background-color: #5367ff;
    height: 750px;
}

.image-flex{
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    position: relative;
    top: -700px;
    padding: 120px;
    margin-left: 25px;
}

.textonimage{
    color: white;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 2px;
}
.textonimage2{
    color: white;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;
}

.middle4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    color: #44475B;
    width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-left: 450px;
}

.middle5{
    display: flex;
    width: 100%;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.middle5 img{
    height: 250px;
    width: 300px;
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 325px;

}

.sub-blog{
    color: #44475B;
    font-size: 20px;
    font-weight: 450;
}

.viewlink{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 200px;
    
}

.viewlink a{
    text-decoration: none;
}

.middlesix{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    align-items: center;
}

.hp77Line {
    width: calc(50% - 135px);
    height: 1px;
    border-bottom: 1px solid #676b87;
}

.hp77Line.left {
    margin-left: 30px;
}

.hp77Line.right {
    margin-right: 30px;
}

.heading{
    color: #44475B;
    font-size: 36px;
    font-weight: 450;
}

.middle7{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 45px;
}

.press{
    filter: grayscale(100%);
}
.press:hover{
    cursor: pointer;
    filter: grayscale(0%);
}

.middle8{
    background-color: #f6f6f7;
    padding-bottom: 30px;
}

.cpi{
    color: #44475B;
    font-size: 36px;
    font-weight: 450;
    padding-left: 230px;
    padding-top: 40px;
}

.below-cpi{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    font-size: 18px;
    color: #44475B;
}

.f2 a{
    color: #00d09c;
    text-decoration: none;
}

.checked{
    color: orange;
}

.l1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:max-content;

}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
}

.card1{
    background-color: white;
    width: 30%;
    padding: 25px 35px;
    border-radius: 8px;
}

.image img{
    height: 80px;
    width: 80px;
    margin: 0 30px 0 0;
    border-radius: 100px;
}

.desc{
    margin: 25px;
    font-size: 18px;
    line-height: 30px;
    color: #44475B;
}

.uname{
    margin: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #44475B;
}

.desg{
    margin: 25px;
    font-size: 18px;
    color: #44475B;
}

.card1:hover{
    box-shadow: 3px 3px 3px 3px rgb(157, 153, 153);
}

.middle9{
    display: flex;
    margin-top: 50px;
}

.nine-left{
    border: 2px solid red;
}

.n1{
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: .004em;
    color: #44475B;

}

.n2{
    letter-spacing: .3px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #7c7e8c;

}

.nflex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nr1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nr2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


footer{
    display: flex;
    flex-direction: column;
    
}

.topfooter{
    background-color: #1E2232;
    height: 417px;
    order: -1;
}

.topfooterinside{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    width:88%;
    margin-left:70px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.topfooter .title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
    color: #fffdfd;
}

.social .fa {
    padding: 10px;
    font-size: 18px;
   
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-telegram{
      background-color: #63abcc;
      color: white;
      font-size: 35px;
  }

.address{
    display: flex;
    padding: 20px 10px;
  
}
.address ul{
    list-style-type: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.address ul li{
    font-size: 17px;
    font-weight: 500;
}

.address ul a{
    color: white;
}

.col_1 .title{
    display: flex;
    justify-content: left;
    font-family: "Roboto";
    font-size: 25px;
    align-items: center;
}

.col_1 img{
    width: 39px;
    border-radius: 50%;
}

.social{
    display: flex;
}

.products{
    font-size: 1.125rem;
    line-height: 160%;
    font-weight: 515;
    padding-bottom: 20px;
}

.GROWW{
    font-size: 1.125rem;
    
    line-height: 160%;
    font-weight: 515;
    padding-bottom: 20px;

}

.quicklinks{
    font-size: 1.125rem;
    
    line-height: 160%;
    font-weight: 515;
    padding-bottom: 20px;

}

.col_2 li{
    padding: 5px;
}
.col_3 li{
    padding: 5px;
}
.col_4 li{
    padding: 5px;
}

.liner{
    
    width: 80%;
    margin: auto;
    padding-top: 35px;
}

.rights{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bolder;  
}

.heart{
    font-size: 32px;
    color:  #eb5b3c;;
    margin: 0 4px;
}

.topfooterinside li{
    font-size: 15px;
    font-weight: 501;
    cursor: pointer;
}

.topfooterinside_1{
    display: flex;
    margin-left: 10%;
    margin-top: 25px;
    align-items: center;
}

.topfooterinside_1 img{
    margin-right: 45px;
    cursor: pointer;
}

.images_1{
    padding-left: 21%;
}

.col_1{
    padding-right: -3%;
}

.bottomfooter{
    background-color: #191c27;
    color: white;
    width: 80%;
    margin-left: 200px;
    padding-right: 5%;
    font-family: "Roboto";
    font-weight: 501;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5;
}
.bf1{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.bfh{
    background-color: #191c27;
}

.uc{
    text-transform: uppercase;
}

.bottomfooter span{
    color:#00d09c;
    cursor: pointer;
}

.bf2{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
.bf2 a{
    margin-right: 8px;
    margin-left: 8px;
    font-size: 12px;
    color: #7c7e8c;
    cursor: pointer;
}

.bf2 a:hover{
    color: white;
}
.bf2 span{
    color: white;
}

.d1{
    display: flex;
    flex-direction: column;
    width: 1600px;
}
