@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300&family=Red+Hat+Display:wght@300&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 15px auto;
    align-items: center;
}
.top-right{
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}
.login{
    background-color: #00d09c;
    color:white;
    padding: 15px;
    border-style: none;
    border-radius: 8px;
    width: 175px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}
.login:hover{
    opacity: 0.7;
}
.search button{
    background-color: white;
    border-style: none;
    color: grey;
    
}
.search input{
    /* background-color: white; */
    width: inherit;
    padding: 5px;
    border-style: none;
    border-color: white;
    outline: none;
    caret-color: #00d09c;
}
.search{
    margin-top:10px;
    box-shadow: 0 0 2.5px 2.5px rgb(233, 225, 225);
    padding: 10px;
    border-radius: 8px;
    width: 60%;
}

.middle{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.middle-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    padding-left: 210px;
    padding-top: 180px;
    margin-right: 50px;
}

.middle-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 250px;
    padding-top: 50px;
    height: 600px;
}

.roww-1{
    display: flex;
    justify-content: space-between;
    width: 65vh;
    
}

.row-2{
    display: flex;
    justify-content: space-between;
    width: 65vh;
}

.row-3{
    display: flex;
    justify-content: space-between;
    width: 65vh;
}

.sub-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    box-shadow: 3px 3px 3px 3px rgb(157, 153, 153);
    width: 45%;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.nameoficon{
    margin-left: 20px;
    font-weight: 500;
}

.icon{
    margin-left: 20px;
}

.mid-l-1 p{
    font-size: 45px;
    font-weight: 500;
}

.mid-l-2{
    color: grey;
}

#million{
    font-weight: 680;
}

.middle2{
    padding: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 975px;
}

#choice{
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid var(--border);
    font-size: 12px;
    width: fit-content;
    min-width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ECEDEF;
    color: black;
    opacity: 0.5;
    font-weight: 500;

}

.two{
    font-weight: 500;
    font-size: 40px;
    color: #44475B;
}

.three{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.row-item-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #44475B;
    font-size: 25px;
    font-weight: 450;
}
.row-item-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #44475B;
    font-size: 25px;
    font-weight: 450;
}
.row-item-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #44475B;
    font-size: 25px;
    font-weight: 450;
}
.row-item-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #44475B;
    font-size: 25px;
    font-weight: 450;
}

.row-item-1:hover{
    border-style: none;
    border-bottom-style: solid;
    border-color: #00d09c;
    border-bottom-width: 4px;
}
.row-item-2:hover{
    border-style: none;
    border-bottom-style: solid;
    border-color: #00d09c;
    border-bottom-width: 4px;
}
.row-item-3:hover{
    border-style: none;
    border-bottom-style: solid;
    border-color: #00d09c;
    border-bottom-width: 4px;
}
.row-item-4:hover{
    border-style: none;
    border-bottom-style: solid;
    border-color: #00d09c;
    border-bottom-width: 4px;
}

.four{
    display: flex;
}

.four-left img{
    width: 562px;
    height: 355px;
    padding-top: 25px;
}

#zero{
    font-size: 80px;
    font-weight: 500;
}

.four-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 100px;
    height: 280px;
}
.four-r-1{
    color: #44475B;
    font-size: 28px;
    font-weight: 450;
}

.four-r-2{
    color: #44475B;
    font-size: 16px;
    font-weight: 400;
}

.getstarted{
    background-color: #00d09c;
    color:white;
    padding: 15px;
    border-style: none;
    border-radius: 8px;
    width: 200px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}

.link{
    margin-left: 500px;
}

.link a{
    color: #00d09c;
}

.middle3{
    background-color: #5367ff;
    height: 750px;
}

.image-flex{
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    position: relative;
    top: -700px;
    padding: 120px;
    margin-left: 25px;
}

.textonimage{
    color: white;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 2px;
}
.textonimage2{
    color: white;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;
}

.middle4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    color: #44475B;
    width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-left: 450px;
}

.middle5{
    display: flex;
    width: 100%;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.middle5 img{
    height: 250px;
    width: 300px;
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 325px;

}

.blog img{
    cursor: pointer;
}
.blog img:hover{
    color: #676b87;
    opacity: 0.85;
}

.sub-blog{
    color: #44475B;
    font-size: 20px;
    font-weight: 450;
}

.viewlink{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 200px;
    
}

.viewlink a{
    text-decoration: none;
}

.middlesix{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    align-items: center;
}

.hp77Line {
    width: calc(50% - 135px);
    height: 1px;
    border-bottom: 1px solid #676b87;
}

.hp77Line.left {
    margin-left: 30px;
}

.hp77Line.right {
    margin-right: 30px;
}

.heading{
    color: #44475B;
    font-size: 36px;
    font-weight: 450;
}

.middle7{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 45px;
}

.press{
    filter: grayscale(100%);
}
.press:hover{
    cursor: pointer;
    filter: grayscale(0%);
}

.middle8{
    background-color: #f6f6f7;
}

.cpi{
    color: #44475B;
    font-size: 36px;
    font-weight: 450;
    padding-left: 230px;
    padding-top: 40px;
}

.below-cpi{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    font-size: 18px;
    color: #44475B;
}

.f2 a{
    color: #00d09c;
    text-decoration: none;
}

.checked{
    color: orange;
}

.l1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:max-content;

}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    margin-top: 50px;
}

.card1{
    background-color: white;
    width: 25%;
    padding: 35px 35px;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 75vh;
}

.image img{
    height: 80px;
    width: 80px;
    margin: 0 30px 0 0;
    border-radius: 100px;
}

.desc{
    margin: 25px;
    font-size: 18px;
    line-height: 30px;
    color: #44475B;
}

.uname{
    margin: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #44475B;
}

.desg{
    margin: 25px;
    font-size: 18px;
    color: #44475B;
}

.card1:hover{
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.6);
    -moz-box-shadow: 0 0 10px rgba(160, 160, 160, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(160, 160, 160, 0.6);
    -o-box-shadow: 0 0 10px rgba(160, 160, 160, 0.6);
}

.middle9{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 75px;
}

.nine-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px;
    height: 75vh;
    margin-left: 75px;
    /* border: 2px solid rebeccapurple; */
}

.n1{
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: .004em;
    color: #44475B;

}

.n2{
    letter-spacing: .3px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #7c7e8c;

}

.nflex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75vhpx;
    margin-left: -50px;
}

.nr1{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    width: 100%;
    height: 15vh;
}

.hing{
    color: #44475B;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 160%;
}

.hing2{
    color: #7c7e8c;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.nine-right{
    width: 45%;
    height: 120vh;
    padding: 50px;
}

.appcol1 img{
    width: 255px;
    aspect-ratio: auto 255 / 356;
    height: 356px;
}

.appcol2 img{
    width: 255px;
    aspect-ratio: auto 255 / 356;
    height: 356px;
}

.flex-col{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.col2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.col1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 110vh;
}

.col1,.col2 img{
    cursor: pointer;
}

.middle10{
    background-color: #00d09c;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    border-radius: 30px;
    height: 70%;
}


.m10-left{
    margin-top: 10px;
    margin-left: 80px;
    max-width: 534px;
    height: 368px;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 50px;
}

.line1{
    color: white;
    font-size: 36px;
    margin-bottom: 35px;
    font-weight: 500;
}
.line2{
    color: white;
    font-size: 16px;
    margin-bottom: 35px;
    font-weight: 400;
    width: 534px;
    height: 64px;
}

.getintouch{
    color: #00d09c;
    background-color:white;
    padding: 15px;
    border-style: none;
    border-radius: 8px;
    width: 175px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}

.getintouch:hover{
    opacity: 0.95;
}

.m10-right{
    position: relative;
    top: 52px;
    left: 150px;
}

.m10-right img{
    width: 261px;
    aspect-ratio: auto 261 / 327;
    height: 327px;

}

.box-shadow{
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.6);
    -moz-box-shadow: 0 0 10px rgba(160, 160, 160, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(160, 160, 160, 0.6);
    -o-box-shadow: 0 0 10px rgba(160, 160, 160, 0.6);
}

